*{margin: 0;padding: 0;}
@font-face
{
    font-family: "land";
    src:url(fonts/Enchanted\ Land.otf);
    font-style: normal;
}
html,body{height: 100%;}
.geral
{
    min-height: 100%;
    position: relative;
}
body
{
    background-color: #a3a3a3;
}
/*degrade CSS*/

.background-header
{
    background: -webkit-radial-gradient(left,rgb(0,119,136),rgb(7,213,213));
    padding-bottom: 30px;
    color:white;

}


.background-footer
{
   background:-webkit-radial-gradient(left,rgb(0,119,136),rgb(7,213,213));
   color:white;
   text-align: center;
   margin: auto;
   position: absolute;
   bottom: 0;
   width: 100%;
   padding-top: 20px;
   padding-bottom: 15px;
   font-family: land;
   font-size: 25px;
}


h1
{
    padding-left: 7px;
    font-style: normal;
    font-family: land;
    font-weight: 300;
    font-size: 50px;
}

nav
{
   display: flex;
   justify-content: space-between;
}
li
{
    display: inline;
    padding-right: 20px;
    font-size: 40px;
    font-family: land;
}

a{
    color: white;
    font-weight: normal;
    text-decoration: none;
}

i
{
    color: red;
}

article
{
    text-align: center;
    margin: auto;
    padding-bottom: 5%;
    
}

/*imagens*/
.imagem-eu
{
    width: 250px;
    height: auto;
    object-fit: contain;
}

.font-article
{
    font-family: land;
    font-size: 30px;
}